.card {
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    flex: 15%;
    margin: 5px;
    text-align: center;
}

  .card>img {
    width: 200px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.team-detail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 90px;
    }
#card{
    width: 200px;
    border: 1px solid black;
    padding:10px;
    margin: 20px;
    border-radius:12px ;
}
#card > img{
    width:100%;
}
.card-container{
    display: flex;
}
#teamLogo{
    height: 150px;
    width: 150px;
    padding: 14px 16px;
    margin-top: 8px;
}

.searchBar {
    border-radius: 20px;
    border: 1px solid #cae4cd;
    padding: 1.8rem 2rem;
    width: 30vw;
    font-size: 1.6rem;
  }

  #teamLogo{
    height: 150px;
    width: 150px;
    padding: 14px 16px;
    margin-top: 8px;
}

.title-class{
    display: flex;
    flex-direction: row;
}

#headingName{
    padding: 20px 40px;
    margin-top: 40px;
    font-size: 42px;

}
  .card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

  